<?xml version="1.0" encoding="UTF-8"?>
    <plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="fi.peekpoke.cordova.dnssd"
        version="0.0.2">
    <engines>
        <engine name="cordova-ios" version=">=2.9.0" />
    </engines>
    <name>Cordova-DNSSD</name>
    <description>Cordova (PhoneGap) plugin for Bonjour based DNS-SD queries. Enables local service discovery on iOS.</description>
    <author>Jarno Heikkinen</author>
    <license>Apache 2.0</license>
    <keywords>cordova,dnssd,dns-sd,bonjour,discovery</keywords>
	<repo>https://github.com/coqsenpate/cordova-dnssd/tree/custom</repo>

    <js-module src="www/dnssd.js" name="dnssd">
        <clobbers target="dnssd" />
    </js-module>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="fi.peekpoke.cordova.dnssd">
                <param name="ios-package" value="CDVBonjour"/>
            </feature>
        </config-file>
        <header-file src="src/ios/dnssd.h" />
        <source-file src="src/ios/dnssd.m" />
    </platform>
	<!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="fi.peekpoke.cordova.dnssd">
                <param name="android-package" value="com.coqsenpate.cordova.CordovaBonjour"/>
            </feature>
        </config-file>
        <source-file src="src/android/CordovaBonjour.java" target-dir="src/com/coqsenpate/cordova"/>
    </platform>
</plugin>
